*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Visual Studio workspace and user-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio and CUDA build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
ipch/
*.ipch
*.obj
*.idb
*.pdb
*.ilk
*.lib
*.exp
#*.exe
*.recipe
*.tlog
*.lastbuildstate
*.cache
*.deps
*.log
*.VC.db*
*.VC.opendb
*.vsidx
*.sqlite
*.FileListAbsolute.txt
